/*indexhtml стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-dark-color: #000000;
  --primary-lite-color: #ffffff;
  --primary-adress-color: rgba(255, 255, 255, 0.6);
  --background-team-color: #f5f4fa;
  --background-hero-color: #2f303a;
}

/*
color studiobackground: #000000;

color text: #212121;
tel: #757575;
#F5F4FA; - background наша команда
footer tel email color: rgba(255, 255, 255, 0.6);

*/

body {
  background-color: var(--primary-lite-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.img,
.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*HEADER*/

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
}

/*Text*/
.text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.page-header {
  background-color: var(--primary-lite-color);
  border-bottom: 1px solid #ececec;
}

/*Logo*/
.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--primary-dark-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo:hover {
  color: var(--primary-dark-color);
}

.logo-accent {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  height: 80px;
  text-align: center;
}

/*Adress*/
.contacts {
  margin-left: auto;
  display: flex;
  text-align: center;
}

.contacts-item {
  display: flex;
  text-align: center;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.mail-link:hover,
.mail-link:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.contacts-item .mail-link {
  margin-left: auto;
}

.header-icon {
  fill: currentColor;
  text-align: center;
  margin-right: 10px;
  background-size: contain;
}

.mail-link {
  display: block;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.link-tel {
  display: block;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

/*Site nav*/
.site-nav {
  display: flex;
  width: 294px;
  height: 16px;
  text-align: center;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-current,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav-list .link-current,
.logo-accent {
  color: var(--accent-color);
}

.link,
.link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*hero*/
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--background-hero-color);
}

.title {
  color: var(--primary-lite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
}

.hero-button {
  color: var(--primary-lite-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;

  box-shadow: 0px, 4px rgba(0, 0, 0, 0.15);
}

/*advanteges*/
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-advant {
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
}

.section .title {
  color: var(--title-text-color);
  margin-top: 0;
}

.title-description {
  max-width: 270px;
  height: 75px;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.section-title-li:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}

.section-title-list {
  display: flex;
  justify-content: space-between;
}

.title-advant::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronavt::before {
  background-image: url(../images/astronaut.svg);
}

/* CAPABILITIES section*/
.capabilities-section {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.capabilities-flex {
  display: flex;
  justify-content: space-between;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}
.capabilities-flex-item {
  width: 370px;
}

.capabilities-flex-item:not(:last-child) {
  margin-right: 30px;
}

/*Team*/

.team-section {
  background-color: var(--background-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section .container {
  align-items: center;
}

.team-flex {
  display: flex;
  align-items: center;
}

.team-flex-item {
  text-align: center;
  width: 270px;
  border: 1px solid #ffffff;
  background-color: var(--primary-lite-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 0px 0px 4px 4px;
}

.team-flex-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  height: 168px;
  padding: 30px 32px;
  text-align: center;
}

.name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
  text-align: center;
}

.card-text {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* REGULAR CUSTOMERS*/
.customer-section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}

/*.customer-flex {
  display: flex;
  justify-content: space-between;
}



.customer-flex-item:not(:last-child) {
  margin-right: 30px;
} */
.customer-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.customer-list-link:hover,
.customer-list-link:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.customer-list-link:hover .customer-list-icon,
.customer-list-link:focus .customer-list-icon {
  fill: #2196f3;
}

.customer-list-item {
  width: 170px;
  height: 90px;
}

.customer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.customer-list-icon {
  fill: #afb1b8;
}

/*Footer*/
.footer-page {
  background-color: var(--background-hero-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress-item {
  align-items: baseline;
}

.footer-logo {
  color: var(--primary-lite-color);

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 20px;
}

.footer-logo:focus {
  color: var(--primary-lite-color);
}

.logo-accent {
  color: var(--accent-color);
}
.footer-adress {
  display: flex;
  flex-direction: column;
}

.footer-adress .footer-map {
  color: var(--primary-lite-color);
  font-style: normal;
}
.footer-link {
  color: var(--primary-adress-color);
  font-style: normal;
}

.footer-social-links {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.footer-text {
  margin-bottom: 20px;
  text-align: start;
  width: 145px;
  height: 16px;
  text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #2196f3;
}

.footer-list-link:hover .footer-list-icon,
.footer-list-link:focus .footer-list-icon {
  fill: #ffffff;
  cursor: pointer;
}

.footer-list-item {
  width: 44px;
  height: 44px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}

/*portfolio стили */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-flex {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--background-team-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  white-space: nowrap;
  border-color: transparent;
  border: none;
}

.portfolio-button.active,
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-lite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.flex-element-link {
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.flex-element-link:hover,
.flex-element-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border: none;
}

.portfolio-img-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/*.logo-accent */

.portfolio-div-tekst {
  padding: 20px 24px;
  width: 370px;
  height: 110px;
  text-align: left;
}

.port {
  text-align: left;
  margin-bottom: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
